<ul class="list-unstyled">
    <li><a href="https://www.facebook.com/noknok.pl.mls/"><i class="fa fa-facebook"></i> Facebook (noknok.pl.mls)</a></li>
    <li><a href="https://twitter.com/NokNokMLS"><i class="fa fa-twitter"></i> Twitter (NokNokMLS)</a></li>
</ul>